[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.0.1"
scipy = "*"
pylint = "*"
scikit-learn = "*"
opencv-python = "*"
tensorflow = "*"
nltk = "*"
speechrecognition = "*"
pyaudio = "*"
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
nbconvert = "*"
h5py = "*"

[dev-packages]

[requires]
python_version = "3.9"
